In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

### Parametr squeeze=True powoduje stworzenie serii zamiast frame

In [9]:
education=pd.read_csv(r'D:\temp\StackOverflowDeveloperSurvey.csv',usecols=["FormalEducation"],squeeze=True)

In [10]:
education.head()

0                                     Secondary school
1    Some college/university study without earning ...
2                                    Bachelor's degree
3                                      Doctoral degree
4                                      Master's degree
Name: FormalEducation, dtype: object

In [11]:
type(education)

pandas.core.series.Series

In [12]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [14]:
alldata=pd.read_csv(r'D:\temp\StackOverflowDeveloperSurvey.csv')
type(alldata)

pandas.core.frame.DataFrame

In [15]:
country=pd.Series(alldata["Country"])

In [16]:
country

0         United States
1        United Kingdom
2        United Kingdom
3         United States
4           Switzerland
              ...
51387     United States
51388         Venezuela
51389            Canada
51390     United States
51391           Ireland
Name: Country, Length: 51392, dtype: object

In [17]:
country.head(10)

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
5       New Zealand
6     United States
7            Poland
8          Colombia
9            France
Name: Country, dtype: object

In [18]:
filterOnlyUsa=country=="United States"

In [20]:
filterOnlyUsa.head(10)

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9    False
Name: Country, dtype: bool

In [22]:
education.where(filterOnlyUsa).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object