In [2]:
import pandas as pd
import numpy as np

In [3]:
air=pd.read_csv(r"d:\temp\Air_Traffic_Passenger_Statistics.csv",index_col=["Operating Airline","Activity Period","Activity Type Code"])

In [4]:
air.sort_index(inplace=True)

In [5]:
air.head()

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ

                                                                                                    Published Airline  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200507          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ

                                                                               GEO Summary  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned               Mexico
                                                         Enplaned               Mexico
ATA Airlines                             200507          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US

                                                                            Price Category Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                         Other
                                                         Enplaned                         Other
ATA Airlines                             200507          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare

                                                                                  Terminal  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1

                                                                            Boarding Area  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       A
                                                         Enplaned                       A
ATA Airlines                             200507          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B

                                                                             Passenger Count
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       1090
                                                         Enplaned                       1212
ATA Airlines                             200507          Deplaned                      27271
                                                         Enplaned                      29131
                                                         Thru / Transit                 5415

Wyświetl informacje o lotach obsługiwanych przez Air France, w lipcu 2005 roku z zawężeniem danych do
lądowania (klucz będzie zawierał dane: 'Air France',200507,'Enplaned')

In [15]:
air.loc["Air France", 200507, "Enplaned"]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638